# Flutter/Dart/Pub related (jangan pernah upload build artifacts dan cache)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android/obfuscation/symbols
app.*.symbols
app.*.map.json
android/app/debug
android/app/profile
android/app/release

# IDE/Editor related (hanya file/project setting lokal, kode kamu tetap aman)
.idea/
*.iml
*.ipr
*.iws

# macOS/Unix temporary files
.DS_Store
.svn/
.history
.atom/
.build/
.buildlog/
migrate_working_dir/

# Miscellaneous
*.class
*.log
*.pyc
*.swp

# Tambahan: file environment rahasia (jika dipakai)
.env
.env.*